.input-wrapper {
    background-color: black;
    width: 100%;
    border-radius: 10px;
    height: 3.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px white;
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

input {
    background-color: black;
    border: none;
    height: 90%;
    font-size: 1.50rem;
    width: 100%;
    margin-left: 5px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

input:focus {
    outline: none;
}

#search-icon {
    color: white;
}