@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background-image: url(assets/Images/cover-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border: 11px solid black;
  padding: 12px;

}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.store {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  background-color: black;
  padding-bottom: 30px;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  animation: fadeIn 1s;
}

.store-2 {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  background-color: black;

}

.listing {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  font-size: larger;
  font-weight: 600;
  background-color: black;
  opacity: .9;
  max-height: 1700px;
  overflow-y: scroll;
  padding-top: 50px;
  animation: fadeIn 4s;
}

ul {
  list-style-type: none;

}

#nav-style {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  padding-left: 10px;
  animation: fadeIn 8s;
}

.product-image {
  width: 200px;
  height: auto;

}

.search-bar-container {
  padding-top: 20px;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.shop-cart {
  display: flex;
  justify-content: center;

}

#shop-cart-btn {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 150%;
  width: 460px;
  animation: fadeIn 4s;
  margin-top: 20px;
}

#shop-cart-btn:hover {
  background-color: rgb(2, 68, 3);
  border-color: white;
  transition: 0.7s;
}

#bag-icon {
  height: 40px;
  position: relative;
  top: 6px;
}

.add-to-cart-button {
  margin-bottom: 100px;
  opacity: 1;
}

.add-to-cart-button:hover {
  background-color: rgb(2, 68, 3);
  border-color: white;
  transition: 0.7s;
}

#house-icon {
  height: 40px;
  position: relative;
  top: 3px;
}

#star-icon {
  height: 40px;
  position: relative;
  top: 12px;
}

#customer-rate {
  font-family: 'Montserrat', sans-serif;
}